.vscode
.idea
.pytest_cache
.aws-sam
.venv
.terraform
.env
*.db
*.http
*.egg-info
*.env
venv
__pycache__
goede/__pycache__/
geode/lambda_layers/**/python
auth.py
.coverage
pytest.xml
pytest-coverage.txt
*.DS_Store
db-migrations/data
